* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    /* this is the header section where visitors can click through to the sections of the site jumping past the image on the landing display*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    /* this font-size referes to/ modifies the company name in the header */
    display: inline-block;
    font-size: 48px;
}

.seo {
    /* this slight color variance to 'Horiseon' enphasises the coinage of the word to encompany the initials to Search Engine Optimiaztion */
    color: #869973;
}

.header nav {
    /* formatting for the text in the navigation section */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    /* dictating the left-to-right order list style for the navigation section */
    list-style-type: none;
}

.header nav ul li {
    /* defines the centering format for the navigation text within the bar */
    display: inline-block;
    margin-left: 25px;
}

a {
    /* defines the text color in the navigation bar */
    color: #ffffff;
    text-decoration: none;
}

p {
    /* defines the text size in the navigation bar*/
    font-size: 16px;
}

.hero {
    /* defines formatting elements of the image foremost visually present when directed to the site */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    /* defines the image placement for article sections first and third */
    float: left;
    margin-right: 25px;
}

.float-right {
    /* defines the image placement for the article section second */
    float: right;
    margin-left: 25px;
}

.content {
    /* defines the spacing allowed for text in the three article sections */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    /* defines the formatting for the aside section on formatted to the right of the articles */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead,
.benefit-brand,
.benefit-cost{
    /* defines the font size and color for the aside section */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3, {
    /* defines the margins and text allignment for the aside section */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    /* defines the display characterists including the position, space around the image, and maximum sizing of the images in the aside section */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    /* defines formatting for the text including features for the area around the text, the text size, as well as the font itself along with background color and actual font color */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
/* defines formatting modifiers for the text the these article fields, specifically decreasing the area underneath while increasing the font size */    
    margin-bottom: 20px;
    font-size: 36px;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    /* defines the maximum size at which these images will appear while the page is dynamically scalled */
    max-height: 200px;
}

.footer {
    /* defines formatting for the text in the footer including features for the area around the text, as well as the font itself */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    /* defines the modification to the font in the footer, specifically increasign the text size */
    font-size: 20px;
}
